<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head lang="en">

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/ico" th:href="@{/favicon.ico}"/>
    <title th:text="#{page.title.statichtml}">TITLE</title>

    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" href="../../static/css/font-awesome.min.css"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="../../static/css/bootstrap.css"/>
    <link rel="stylesheet" th:href="@{/css/omilab.css}" href="../../static/css/omilab.css"/>

    <script th:src="@{/js/html5shiv.min.js}" src="../../static/js/html5shiv.min.js"></script>
    <script th:src="@{/js/respond.min.js}" src="../../static/js/respond.min.js"></script>

    <script th:src="@{/js/jquery-1.9.1.min.js}" src="../../static/js/jquery-1.9.1.min.js"></script>
    <script th:src="@{/js/bootstrap.min.js}" src="../../static/js/bootstrap.min.js"></script>
    <script th:src="@{/js/omilab.js}" src="../../static/js/omilab.js"></script>
    <script th:src="@{/js/prettySocial.min.js}" src="../../static/js/prettySocial.min.js"></script>

    <th:block th:include="layout :: analytics"></th:block>

</head>
<body>

<div th:include="layout :: header"></div>

<div th:include="layout :: navigation"></div>

    <div th:fragment="header">
        <div id="header" class="container" th:if="${carousel} == true">
            <div id="headerCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators" th:if="${#lists.size(@HeaderManagementService.getVisibleHeader())} > 1">
                    <li th:each="header,iterStat : ${@HeaderManagementService.getHeader()}" th:if="${header.visible} == true" data-target="#headerCarousel" th:attr="data-slide-to=${iterStat.index}" th:classappend="${header.starter} ? active"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <th:block  th:each="header : ${@HeaderManagementService.getHeader()}">
                        <div th:if="${header.type} == 'IMAGE' and ${header.visible} == true" class="item" th:classappend="${header.starter} ? active">
                            <img alt="HeaderImage" th:src="@{${header.content}}"> </img>
                            <div class="container">
                            </div>
                        </div>
                        <div th:if="${header.type} == 'HTML' and ${header.visible} == true" class="item" th:classappend="${header.starter} ? active">
                            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAFVVVQAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="HeaderImage"> </img>
                            <div class="container">
                                <div class="carousel-caption">
                                    <div th:utext="${header.content}"></div>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
                <a class="left carousel-control" href="#headerCarousel" role="button" data-slide="prev" th:if="${#lists.size(@HeaderManagementService.getVisibleHeader())} > 1">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#headerCarousel" role="button" data-slide="next" th:if="${#lists.size(@HeaderManagementService.getVisibleHeader())} > 1">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
<div id="content" class="container">

    <div th:include="layout :: messages"></div>
    <div th:utext="${payload.html}">
    </div>

</div>


<div th:include="layout :: footer"></div>
</body>
</html>