<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <div class="modal-body">
        <p th:utext="#{franchise.types.addservice.line1}">DESCRIPTION</p>
        <div class="form-group" style="overflow-y: scroll; max-height:300px;">
            <ul class="nav nav-pills nav-stacked" id="Sstatus">
                <li th:each="item : ${services}" th:id="${item.id}" role="presentation" class="ajaxclickable" th:classappend="${#lists.contains(serviceusage, item)} ? active"><a><span th:text="${item.name}" >HOME</span>&nbsp;<i style="font-size:60%;" th:text="${item.servicedefinition.name}"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="modal-footer">
        <input type="hidden" id="hiddenenabledservice" name="enabled"/>
        <input type="hidden" id="typeid" name="id" th:value="${projecttype.id}"/>
        <button type="button" class="btn btn-default abortbtn" data-dismiss="modal" th:utext="#{franchise.navigation.addmni.abort}">ABORT</button>
        <button type="button" onclick="submitServiceStatus();" class="btn btn-primary" th:utext="#{franchise.types.addservice.confirm}">CONFIRM</button>
    </div>

</html>