<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head lang="en">

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>OMiLAB</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="../../static/css/bootstrap.css" />
    <link rel="stylesheet" th:href="@{/css/omilab_lightblue.css}" href="../../static/css/omilab_lightblue.css"/>

    <script th:src="@{/js/html5shiv.min.js}" src="../../static/js/html5shiv.min.js"></script>
    <script th:src="@{/js/respond.min.js}" src="../../static/js/respond.min.js"></script>
    <script th:src="@{/js/jquery-1.9.1.min.js}" src="../../static/js/jquery-1.9.1.min.js"></script>
    <script th:src="@{/js/bootstrap.min.js}" src="../../static/js/bootstrap.min.js"></script>
    <script th:src="@{/js/omilab_lightblue.js}" src="../../static/js/omilab_lightblue.js"></script>

    <th:block th:fragment="analytics">
        <script th:if="${@environment.getProperty('omilab.analytics')} == 'true'">
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        </script>
        <script th:inline="javascript" th:if="${@environment.getProperty('omilab.analytics')} == 'true'">
            /*<![CDATA[*/
                ga('create', [[${@environment.getProperty("omilab.analytics.id")}]], 'auto');
                ga('send', 'pageview');
            /*]]>*/
        </script>
    </th:block>

</head>
<body>

<div th:fragment="header">


    <div th:if="${@ProjectService.getOpenProposals()} > 0" id="proposalNotification" class="alert alert-info msgbox alert-header" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> <span th:utext="#{wizard.notification.unread(${@ProjectService.getOpenProposals()})}"></span> <span th:utext="#{wizard.notification.link}"></span> <b><a th:href="@{/wizard/start(proposaluuid=${@ProjectService.getFirstOpenProposal().proposalID})}" th:text="${@ProjectService.getFirstOpenProposal().name}"></a></b></div>
    <div th:if="${@ProjectService.getOpenProposals()} > 0" id="proposal-notification-placeholder" class="alert-header-placeholder"></div>

    <div th:if="${successMessage}" class="alert alert-success msgbox alert-header" role="alert"><b th:utext="#{general.layout.successbox}">SUCCESS </b> <span th:text="${successMessage}"> </span></div>
    <div th:if="${infoMessage}" class="alert alert-info msgbox alert-header" role="alert"><b th:utext="#{general.layout.infobox}">INFO </b> <span th:text="${infoMessage}"> </span></div>
    <div th:if="${warningMessage}" class="alert alert-warning msgbox alert-header" role="alert"><b th:utext="#{general.layout.warningbox}">WARNING </b> <span th:text="${warningMessage}"> </span></div>
    <div th:if="${errorMessage}" class="alert alert-danger msgbox alert-header" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><b th:utext="#{general.layout.errorbox}">ERROR </b> <span th:text="${errorMessage}"> </span></div>


    <div th:if="${generationtime}" style="position:fixed; padding:10px; bottom: 0px; right: 0px;" class="alert-info">
        <div th:if="${generationtime}"><b>[DEBUG] </b> Overall page generation time: <strong><span th:text="${generationtime}"> </span> </strong>ms. </div>
        <div th:if="${wrapper}" th:unless="${wrapper.responseTime} == 0"><b>[DEBUG] </b> Remote service took  <strong><span th:text="${wrapper.responseTime}"> </span> </strong> ms to respond. Therefore PSM operation took <strong th:text="${generationtime} - ${wrapper.responseTime}"></strong> ms.</div>
    </div>

    <div th:if="${successMessage} or ${infoMessage} or ${warningMessage} or ${errorMessage} or ${generationtime}" class="alert-header-placeholder"></div>

    <noscript>
        <div class="alert alert-info alert-header" id="javascriptinfo" role="alert" th:utext="#{general.layout.jswarning}">JSWARNING</div>
        <div class="alert-header-placeholder"></div>
    </noscript>

    <div id="nav-placeholder"></div>
    <div id="header">

        <div class="container">
            <div class="header-social-media hidden-xs">
                <ul class="inline-list">
                    <li><a href="https://www.facebook.com/openmodelslaboratory/" target="_blank"><i class="fa fa-facebook-square" area-hidden="true"></i></a></li>
                    <li><a href="https://twitter.com/omilab" target="_blank"><i class="fa fa-twitter-square" area-hidden="true"></i></a></li>
                    <li><a href="https://www.youtube.com/user/OpenModels" target="_blank"><i class="fa fa-youtube-square" area-hidden="true"></i></a></li>
                    <!--/*<li><a href="https://plus.google.com/112054508944854564887" target="_blank"><i class="fa fa-google-plus-square" area-hidden="true"></i></a></li>*/-->
                    <li><a href="https://www.linkedin.com/grps/OMiLAB-6982313/about?" target="_blank"><i class="fa fa-linkedin-square" area-hidden="true"></i></a></li>
                </ul>
            </div>
            <a href="#" th:href="@{/}"><img style="max-height: 40px; float: left; margin: 1em;" th:src="@{/images/omilab.png}" src="../../static/images/omilab.png" alt="OMiLAB" title="OMiLAB" /></a>
            <h1 id="headertitle" th:utext="${@environment.getProperty('omilab.title')}">Open Models Laboratory - Austria</h1>
        </div>
    </div>
    <nav id="nav" class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only" th:utext="#{general.layout.toggletext}">TOGGLE</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button><!--/*
                <a class="navbar-brand" th:href="@{/}" href="#"><img style="max-height: 20px;" th:src="@{/images/omilab.png}" src="../static/images/omilab.png" alt="OMiLAB" title="OMiLAB" /></a>
            */--></div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li  th:each="mainnavigation : ${@MainNavigationManagementService.getMenu()}">
                        <a th:if="${mainnavigation.class.name == 'org.omilab.psm.model.db.MainNavigationItemLink'} and ${mainnavigation.visible}" th:unless="${mainnavigation.authentication} == true and ${#authentication.name} == 'anonymousUser'" target="_blank" th:href="${mainnavigation.link}" th:text="${mainnavigation.displayname}">LINK</a>
                        <a th:if="${mainnavigation.class.name == 'org.omilab.psm.model.db.MainNavigationItemHTML'} and ${mainnavigation.visible}" th:unless="${mainnavigation.authentication} == true and ${#authentication.name} == 'anonymousUser'" th:href="@{/{page}(page=${mainnavigation.link})}" th:text="${mainnavigation.displayname}">LINK</a>
                        <a th:if="${mainnavigation.class.name == 'org.omilab.psm.model.db.MainNavigationItemTypes'} and ${mainnavigation.visible}" th:unless="${mainnavigation.authentication} == true and ${#authentication.name} == 'anonymousUser'" th:href="@{/{page}(page=${mainnavigation.link})}" th:text="${mainnavigation.displayname}">LINK</a>
                        <a th:if="${mainnavigation.class.name == 'org.omilab.psm.model.db.MainNavigationItemProject'} and ${mainnavigation.visible}" th:unless="${mainnavigation.authentication} == true and ${#authentication.name} == 'anonymousUser'" th:href="@{/{page}(page=${mainnavigation.link})}" th:text="${mainnavigation.displayname}">LINK</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle search-icon" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
                        <ul class="dropdown-menu search-drop-down">
                            <li class="text-center">
                                <form class="form-inline" role="search" method="get" th:action="@{/search}">
                                    <div class="form-group">
                                        <label for="search" class="sr-only">Search</label>
                                        <input id="search" th:if="${#httpServletRequest.getParameter('q')} == null" type="text" class="form-control" placeholder="SEARCH" th:placeholder="#{general.layout.search}" name="q"> </input>
                                        <input id="search" th:if="${#httpServletRequest.getParameter('q')} != null" type="text" class="form-control" placeholder="SEARCH" th:placeholder="#{general.layout.search}" th:value="${#httpServletRequest.getParameter('q')}" name="q"> </input>
                                        <button type="submit" class="btn btn-default">search</button>
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul th:unless="${#authentication.name} == 'anonymousUser'" class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" ><span th:text="${#authentication.name}">username</span><span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a th:utext="#{general.layout.editprofile}" th:href="@{/editprofile}">EDITPROFILE</a></li>
                            <li><a th:utext="#{general.layout.logout}" th:href="@{/logout}">LOGOUT</a></li>
                            <li role="presentation" class="divider"></li>
                            <li sec:authorize="hasPermission('franchise', 'franchiseadmin')"><a th:href="@{/settings}"> <span th:utext="#{general.layout.franchisesettings}">FRANCHISE</span>&nbsp;<span class="badge bootstrapred bg-red">Admin</span> </a></li>
                            <li th:classappend="${session.adminview} ? active"><a th:href="@{/profile/changeView}" th:utext="#{general.layout.togglecontrols}">TOGGLE</a></li>
                        </ul>
                    </li>
                </ul>
                <ul th:if="${#authentication.name} == 'anonymousUser'" class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" > <span th:utext="#{general.layout.anonymous}"> NOT LOGGED IN </span> <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a th:utext="#{general.layout.login}" th:href="@{/login}">LOGIN</a></li>
                            <li><a th:utext="#{general.layout.register}" th:href="@{/register}">REGISTER</a></li>
                            <li><a th:utext="#{general.layout.password}" th:href="@{/forgottenpassword}">Forgot Password</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div th:fragment="navigation">
</div>


<div th:fragment="footer">
    <div id="footer" class="footer" th:utext="${@GlobalConfigurationService.getValue('footer')}"></div>
    <div id="cookie-notification" th:if="${@environment.getProperty('omilab.showcookiewarning')} == 'true'">
        <p class="text-center">
            <span th:utext="#{cookie.message.warning}"></span>&nbsp;<button class="btn btn-default btn-xs" type="button" data-toggle="modal" data-target="#cookieModal" th:utext="#{cookie.message.readmore}">Read more</button>&nbsp;<button onclick="agreeCookies()" class="btn btn-primary btn-xs" type="button" th:utext="#{cookie.message.agree}">OK</button>
        </p>
    </div>
    <div class="modal fade" id="cookieModal" tabindex="-1" role="dialog" aria-labelledby="cookieModalLabel" th:if="${@environment.getProperty('omilab.showcookiewarning')} == 'true'">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="cookieModalLabel" th:utext="#{cookie.message.modalheader}">Cookie Info</h3>
                </div>
                <div class="modal-body" th:utext="#{cookie.message.information}">
                    Cookie information
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>