<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">

<head lang="en">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/ico" th:href="@{/favicon.ico}"/>
    <title th:text="#{page.title.wizard.role}">TITLE</title>

    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" href="../../../static/css/font-awesome.min.css"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="../../../static/css/bootstrap.css" />
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" href="../../../static/css/jquery-ui.min.css"/>
    <link rel="stylesheet" th:href="@{/css/omilab_lightblue.css}" href="../../../static/css/omilab_lightblue.css"/>

    <link rel="stylesheet" th:href="@{/css/jquery.tagit.css}" href="../../../static/css/jquery.tagit.css" />
    <link rel="stylesheet" th:href="@{/css/tagit.ui-zendesk.css}" href="../../../static/css/tagit.ui-zendesk.css"/>

    <script th:src="@{/js/html5shiv.min.js}" src="../../../static/js/html5shiv.min.js"></script>
    <script th:src="@{/js/respond.min.js}" src="../../../static/js/respond.min.js"></script>

    <script th:src="@{/js/jquery-1.9.1.min.js}" src="../../../static/js/jquery-1.9.1.min.js"></script>
    <script th:src="@{/js/jquery-ui.min.js}" src="../../../static/js/jquery-ui.min.js"></script>
    <script th:src="@{/js/bootstrap.min.js}" src="../../../static/js/bootstrap.min.js"></script>
    <script th:src="@{/js/tag-it.min.js}" src="../../../static/js/tag-it.min.js" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/js/omilab_lightblue.js}" src="../../../static/js/omilab_lightblue.js"></script>
    <script th:src="@{/js/prettySocial.min.js}" src="../../../static/js/prettySocial.min.js"></script>

    <th:block th:include="layout :: analytics"></th:block>

</head>

<body>

<div th:include="layout :: header"></div>

<div th:include="layout :: navigation"></div>

<div id="content" class="container padding" >

    <div th:include="wizard/createproject :: wizmsg"></div>

    <div class="row" th:unless="${failed} == 'true'">
        <div th:include="wizard/step :: wizardnavi"></div>

        <div class="col-sm-9">
            <div th:include="layout :: messages"></div>

            <div class="panel panel-default">
                <div class="panel-heading" th:utext="#{wizard.role.expl.title}"> TITLE</div>
                <div class="panel-body">
                    <p th:utext="#{wizard.role.expl.line1}">LINE1</p>
                    <p th:utext="#{wizard.role.expl.line2}">LINE2</p>
                    <ul>
                        <li th:utext="#{wizard.role.expl.list1}">LIST1</li>
                        <li th:utext="#{wizard.role.expl.list2}">LIST2</li>
                    </ul>
                </div>
            </div>

            <div class="tabcontent">
                <th:block th:utext="${wrapper.content}"> WRAPPER CONTENT </th:block>
            </div>
        </div>
    </div>
</div>


<div th:include="layout :: footer"></div>
<script> $( "#proposalNotification" ).hide();
    $('#proposal-notification-placeholder').hide(); </script>
</body>
</html>
